/*For characterisation, I choose to use a hand-writing style font to create a playful atmosphere*
I want users to start there creation in a relaxed mood.
 */


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');





body {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 150%;
  color: var(--col01);
}




:root{
  --col01: black;
  --col02: white;
  --col03:#e5ceb4;
  --col04: #edc8c4;
  --col05: #d3a068;
  --col06:  #b8b5b9 ;
  --col07:#f2f0e5;
  --col08: #b2b47e;
  --border: solid 0.2rem var(--col06)
}

/*In the dark mode, the canvas still displays in white
because I don't want the canvas color to affect the brush creating experience*/

/*I choose a group of darker color as my dark mode style.
The colors don't feel as playful as light mode.
but I try to keep the texture of the paper box */

/*I invert the button color for a clearer view. (It's hard to read with dark background and black font)*/


@media (prefers-color-scheme: dark){
  :root {
    --col01: white;
    --col02: black;
    --col03:#181923;
    --col04: #8b7983;
    --col05: #292d41;
    --col06:  #b59e90 ;
    --col07:#333346;
    --col08: #6f687a;
    --border: solid 0.2rem var(--col06);

  }
  .toolbarContainer img {
    filter: invert(1);
  }
  .previewTitle img {
    filter: invert(1);
  }
  .libraryTitle img{
    filter: invert(1);
}
  .modeContainer img {
    filter: invert(1);
  }
  .saveContainer img {
    filter: invert(1);
  }
  .saveToBrush img {
    filter: invert(1);
  }
}


/*Paper texture helps to improve the playfulness and feeling of drawing on the paper.
I would like to keep the opacity of paper texture as 100% because I want a stronger feeling of paper.
 I suppose it can reduce the "professional" feeling of the layout*/
main {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  height: auto;
  width: 100%;
  background-color: var(--col02);
  background-image:  url("assets/paperTexture.png");
  background-size: 400%;

}

/*I set border-radius to imitate a kid's drawing board, which is safe, playful and approachable*/
.stageContainer {
  background-color: var(--col03);
  display:flex;

  min-height: auto;
  width: auto;
  flex: 1;
  cursor:crosshair;
  align-items: flex-start;
  justify-content: center;
  border-radius: 3rem;
  border: solid 0.4rem var(--col06);
  background-image:  url("assets/paperTexture.png");
  background-size: 100%;
  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
  gap: clamp(0.8rem, 1.5vw, 1.5rem);
  padding: clamp(0.8rem, 2vw, 1.5rem);
}

/*Hand-drawn icons are used to visually enhance the appeal of the tools.*/
button {
  position:relative;
  cursor: pointer;
  /*color:var(--col01);*/
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  padding:0.3rem;
  /*border-radius: 3rem;*/

  /*box-shadow: 0 12px 30px rgba(0,0,0,0.18)*/
}

/*I considered whether to remove the color-changing interaction of the buttons in order to maintain the primitive hand-drawn feel.
Eventually, I didn't do that.
I wanted to retain a bit of the electronic feel and enhance the clicking experience,
while informing users that this button can be clicked.*/

button:hover {
  /*color: var(--col02);*/
  /*background-color: var(--col01);*/
  background-color: var(--col07);
}

button:active {
  color:var(--col01);
  background-color: var(--col02);
  filter:invert(1);

}

.canvasContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*align-items: center;*/
  padding: 1rem 1rem;
  gap: 1rem;
  background-color: var(--col06);
  border-radius: 5%;

  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
  background-image:  url("assets/paperTexture.png");
  background-size: 100%;
  /*I decide to decrease the size of canvas to keep the layout clean and tidy,
  I don't want a scrollbar appears in a landscape layout*/
  /*width: min(90vw, 700px);*/
  width: min(85vw, 650px);


  align-self: center;



}

.functionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*flex: 0 1 10%;*/
  align-items: center;
  padding: 1rem;
  gap: clamp(1rem, 4vh, 3rem);
  background-color: var(--col06);
  border-radius: 3rem;
  height: auto;
  /*align-self: center;*/
  margin: 4% 1%;

  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
  background-image:  url("assets/paperTexture.png");
  background-size: 400%;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding:1rem;
  background-color: var(--col07);
  border-radius: 3rem;
  background-image:  url("assets/paperTexture.png");
  background-size: 100%;
  box-shadow: 0 12px 30px rgba(0,0,0,0.18);

}

.previewCanvas {
  display:flex;
  background-color: white;
  width: 120px;
  height: 120px;
}

.toolbarContainer{
  display: flex;
  flex: 0 0 3rem;
  flex-direction: column;
  background-color: var(--col07);
  border-radius: 1rem;

  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
  background-image:  url("assets/paperTexture.png");
  background-size: 100%;
  width: 10%;
}

.canvas {
  /*width: 100%;*/
  /*height: 100%;*/
  flex: 1;
  min-width: 0;
  aspect-ratio: 1/1;
  background-color: white;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 0;
  width: auto;
  min-width: 0;
  /*align-items: center;*/
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;



}

.modeContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap:0.5rem;
  padding: 2.5rem 2rem;
  border-radius: 3rem;
  position:relative;
  z-index: 5;
  margin-bottom: -2.5rem;
  pointer-events: none;

}


.modeContainer button{
  pointer-events: auto;
}

.saveContainer{
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: -5rem;
  pointer-events: none;
}
/*prevent the pointer events from covering the canvas*/
.saveContainer button {
  pointer-events: auto;
}


dialog[open]{
  margin:auto;
  padding: 1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2rem;
  gap: 1rem;
  z-index: 99;
  background-image:  url("assets/paperTexture.png");
  background-color: var(--col06);
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
  color:var(--col01)
}

.closeDialog{
  cursor: pointer;
}

dialog button {
  appearance: none;
  -webkit-appearance: none;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  font-weight: 700;
  background-color: transparent;
  color: var(--col01);
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;

  /*border: 0.15rem solid var(--col01);*/
  /*border-radius: 1rem;*/

  padding: 0.4rem 1rem;
  /*box-shadow: 0 6px 12px rgba(0,0,0,0.15);*/
}

dialog button:hover {
  background-color: transparent;
}



.guide{
  position: absolute;
  top: 3%;
  right: 22%;
  padding: 0.3rem 0.3rem;
  width:5%;
  /*cursor: pointer;*/
}
.guideDialog{
  position: absolute;
  top: 4rem;
  left: 1rem;
  width: 30rem;
  max-width: 100vw;
  height: auto;
  padding: 1.2rem;
  border: solid 0.1rem var(--col05);
  border-radius: 1rem;
  background: var(--col08);
  color: var(--col01);
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
  background-image:  url("assets/paperTexture.png");
}

.guideDialog::backdrop{
  background: transparent;
}

.closeGuide {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}
/*The brushlibrary has its own scroll bar to prevent too many brushes from stretching the interface*/
.brushLibrary {
  display: grid;
  grid-template-columns: repeat(6, 2rem);
  grid-auto-rows: 2rem;
  justify-content: start;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 15rem;

  background-color: var(--col07);
  /*border: 1px solid var(--col03);*/

  overflow-y:auto;
  overflow-x:hidden;
  border-radius: 1rem;
  background-image:  url("assets/paperTexture.png");
  background-size: 100%;
  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
  width: auto;
  height: auto;
}

.brushItem {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: white;
  border: 1px solid var(--col05);
  cursor: pointer;

}
.brushItem:hover {
  border: 2px solid var(--col06);
}

.brushBox {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}


/*The close button that appears in the upper right corner conforms to the usage habits of most software.
which means users can easily understand*/

.deleteBrushBtn {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;

  width:13px;
  height:13px;
  display: flex;
  justify-content: center;
  align-items: center;


  border: none;
  border-radius: 50%;

  padding: 0 ;
  background-color: var(--col01);
  color: var(--col02);

  cursor: pointer;
  opacity: 0;
  pointer-events: none;

  font-size: 10px;

  z-index: 2;
}

.deleteBrushBtn:hover {
  background-color: var(--col03);
  color: var(--col01);
}

.brushBox:hover  .deleteBrushBtn {
  opacity: 1;
  pointer-events: auto;

}

input[type="range"] {
  writing-mode: vertical-lr;
  appearance: slider-vertical;
  direction:rtl;

}

.sliderContainer {
  display: flex;
  flex-direction: row;
  gap:0.3rem;
  align-items: center;
}

.sizeControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1rem;

}

.sizeLabel {
  position: relative;
}

.sizeLabel:hover .tooltips{
  opacity: 1;
  transform: translateX(-50%) translateY(-2px);

}

.opacityLabel {
  position: relative;
}

.opacityControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1rem;
}

.opacityLabel:hover .tooltips{
  opacity: 1;
  transform: translateX(-50%) translateY(-2px);
}

.sizeControl{
  font-size: 80%;
}


.opacityControl{
  font-size: 80%;
}

.tools img{
  width: 100%;
  height: 100%;
}

.modeContainer img{
  width: 5rem;

}

.generativeModeBtn img {
  display:block;
  width: 100%;
  height: auto;
}

/*Designing the mode buttons took me quite some effort.
 I needed to make them prominent enough to highlight the "evolve" function,
 while still not blocking the canvas and not being placed together with other functions.
 So I tilted them to make them look more like movable pieces of paper,
 and at the same time, to distinguish them from the toolbar.*/

/*I enlarge evolve button to catch users' attention.*/




.generativeModeBtn{
  right: 0.3%;
  top: 4%;
  position: absolute;
  padding: 0.6rem;
   width: 12%;

  box-shadow: 0 12px 30px rgba(0,0,0,0.18) ;
  border-radius: 1rem;
  background-color: var(--col05);

  transform: rotate(6deg);
background-image:  url("assets/paperTexture.png");
/*  I add animation to make it feel more like paper(can rotate a little when interact with it.)*/
transition: transform 0.2s ease;
}

.generativeModeBtn:hover{
  transform:
  rotate(0deg)
  scale(1.05);

}



.defaultModeBtn{
  position: absolute;
  right: 11%;
  top: 4%;
  padding: 0.6rem;
  width: 7%;

  box-shadow: 0 12px 30px rgba(0,0,0,0.18) ;
  border-radius: 1rem;
  background-color: var(--col04);
  background-image: url("assets/paperTexture.png");

  transform: rotate(-4deg);
  transition: transform 0.2s ease;
}

.defaultModeBtn:hover{
  transform:
          rotate(0deg)
          scale(1.05);
}


.export{
  position: absolute;
  right: 2%;
  top: 5%;
  padding: 0.3rem;
  width: 10%;
  box-shadow: 0 12px 30px rgba(0,0,0,0.18) ;
  border-radius: 1rem;
  transform: rotate(-2deg);
  background-image:  url("assets/paperTexture.png");
  background-color: var(--col07);
  transition: transform 0.2s ease;

}

.export:hover{
  transform:
          rotate(0deg)
          scale(1.05);
}

.saveToBrush {
  border-radius: 2rem;
  width: 6rem;
}

.libraryTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.libraryTitle img {
  width:3rem;
}

.previewTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.previewTitle img {
  width:2rem;
}

/*The tooltips are designed to appear when hovered over.
This way, the text does not take up space in the layout,
and it can provide a bit of description to ensure that the entire interface presents more information
in a way that is concise, icon-based, and intuitive.*/
.tooltips{
position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background:var(--col08);
  color: var(--col01);
  padding: 0.2rem 0.5rem;

  font-size: 0.7rem;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
  background-image: url("assets/paperTexture.png");
  border-radius: 0.2rem;
}

button:hover .tooltips{
  opacity: 1;
  transform: translateX(-50%) translateY(-2px);
}

/*Responsive layout.  */

/*I spend a lot of time on responsive settings to make sure it can suit different size screens*/


/*I divided "responsive" into several sections
because I wanted to ensure that the preview window and brush library were displayed clearly.
On different devices, different layouts are displayed.*/
@media(min-width: 2561px ) and (min-height: 900px){
  .modeContainer {
    margin-bottom: 0rem;
  }

  .canvasContainer {
    width: min(95vw, 1250px);


  }
}






@media(min-width: 1801px) and (max-width: 2560px) and (min-height: 900px){
  .modeContainer {
    margin-bottom: 0rem;
  }

  .canvasContainer {
    width: min(90vw, 1050px);

  }
}



@media (max-width : 1800px) and (max-height: 960px){
  .modeContainer {
    margin-bottom: -0.5rem;
  }
  .generativeModeBtn {
    right: 3%;
    top: 3%;
    position: absolute;
    padding: 0.6rem;
    width: 15%;
  }


  .defaultModeBtn{
    position: absolute;
    right: 15%;
    top: 5%;
    padding: 0.6rem;
    width: 10%;
  }

  .guide{
    position: absolute;
    top:0.5%;
    right: 40%;
    padding: 0.3rem 0.3rem;
    width:7%;
    /*cursor: pointer;*/
  }

  .canvasContainer{
    width: min(85vw, 650px);
  }

}






@media (max-width: 1280px) {
  .export {
    position: absolute;
    right: 0.5%;
    top:10%;
  }


  .saveContainer {
    margin-top: 0rem;
  }
  .guide{
    position: absolute;
    top:0.5%;
    right: 35%;
    padding: 0.3rem 0.3rem;
    width:8%;
    /*cursor: pointer;*/
  }
  .generativeModeBtn {
    right: 3%;
    top: 3%;
    position: absolute;
    padding: 0.6rem;
    width: 15%;
  }


  .defaultModeBtn{
    position: absolute;
    right: 16%;
    top: 5%;
    padding: 0.6rem;
    width: 10%;
  }





}



@media (max-height: 720px) {
  .functionContainer {
    gap: 0.6rem;
    padding: 0.6rem;
  }

  .modeContainer {
    margin-bottom: -1rem;
    padding: 1rem 1rem;
  }

  .generativeModeBtn {
    right: 5%;
    top: 3%;
    position: absolute;
    padding: 0.6rem;
    width: 12%;
  }


  .defaultModeBtn{
    position: absolute;
    right: 16%;
    top: 5%;
    padding: 0.6rem;
    width: 7%;
  }

  .guide{
    position: absolute;
    top:0.5%;
    right: 90%;
    padding: 0.3rem 0.3rem;
    width:5%;
    /*cursor: pointer;*/
  }


  .saveContainer {
    margin-top: -4rem;

  }

  .toolbarContainer {
    flex: 0 0 2rem;

  }

}





@media (max-width: 1000px) {
  .stageContainer{
    flex-direction: column;
    align-items: center;

  }
  .canvasContainer {
    flex-direction: row;
    align-items: center;
    order:1;

  }

  .saveContainer {
    margin-top: -1rem;

  }

  .functionContainer {
    width: 97%;
    flex-direction: row;
    align-items: center;
    order: 2;
    gap: 15%;

  }


  .saveContainer {
    order: 3;
    /*display: none;*/
  }
  .modeContainer {
    margin-bottom: -1rem;
  }


}

@media (max-width: 700px) {
  .generativeModeBtn {
    right: 1%;
    top: 4%;
    position: absolute;
    padding: 0.6rem;
    width: 18%;
  }


  .defaultModeBtn{
    position: absolute;
    right: 20%;
    top: 6%;
    padding: 0.6rem;
    width: 13%;
  }

  .stageContainer{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(0.8rem, 2vw, 1.5rem);
    padding: 1rem;


  }


  .saveContainer {
    margin-top: -2rem;

  }
  .guide{
    position: absolute;
    top:0.5%;
    right: 35%;
    padding: 0.3rem 0.3rem;
    width:10%;
    /*cursor: pointer;*/
  }
}







@media (max-width: 1280px) and (max-height: 720px) {
  .modeContainer {
    margin-bottom: 0;

  }

  .generativeModeBtn {
    right: 3%;
    top: 3%;
    width: 12%;
  }

  .defaultModeBtn {

    right: 14%;
    top: 5%;

    width: 7%;
  }

  .canvasContainer {
    margin-top: 0.5rem;
  }


  .guide {
    position: absolute;
    top: 0.5%;
    right: 25%;
    padding: 0.3rem 0.3rem;
    width: 5%;
  }

  .canvasContainer {
    width: min(75vw, 600px);


  }




}
@media (max-width: 560px) {
  .saveContainer{
    margin-top: -2rem;
  }
  .functionContainer {
    flex-direction: column;
  }

  .defaultModeBtn{
    position: absolute;
    right: 20%;
    top: 6%;
    padding: 0.6rem;
    width:13%;
  }

  .generativeModeBtn {
    right: 1%;
    top: 4%;
    position: absolute;
    padding: 0.6rem;
    width: 21%;
  }

  .guide {
    top: 10%;
    right: 35%;
    padding: 0.3rem 0.3rem;
    width:10%;
  }


}


@media (max-width: 425px) {

  .saveContainer {
    margin-top: -2rem;

  }

  .guide{
    position: absolute;
    top: 10%;
    right: 35%;
    padding: 0.3rem 0.3rem;
    width:10%;
    /*cursor: pointer;*/
  }
}










